<configuration>

    <springProperty scope="context"
                    name="app_name"
                    source="spring.application.name"
                    defaultValue="PLEASE_PROVIDE_spring.application.name_PROPERTY" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <timeZone>UTC</timeZone>
            <mdcKeyFieldName>traceId=trace_id</mdcKeyFieldName>
            <mdcKeyFieldName>spanId=span_id</mdcKeyFieldName>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>20</discardingThreshold>
        <queueSize>512</queueSize>
        <includeCallerData>false</includeCallerData>
        <neverBlock>true</neverBlock>
        <appender-ref ref="CONSOLE" />
    </appender>

    <root level="info">
        <appender-ref ref="ASYNC" />
    </root>

</configuration>